<odoo>
    <!-- Main Menu -->
    <menuitem id="menu_emirates_post_root"
              name="Emirates Post"
              parent="stock.menu_stock_root"
              sequence="50"/>

    <!-- Shipments -->
    <menuitem id="menu_emirates_post_shipments"
              name="Shipments"
              parent="menu_emirates_post_root"
              action="action_emirates_post_shipment"
              sequence="10"/>

    <!-- Configuration -->
    <menuitem id="menu_emirates_post_config_root"
              name="Configuration"
              parent="menu_emirates_post_root"
              sequence="100"/>

    <menuitem id="menu_emirates_post_config"
              name="API Configuration"
              parent="menu_emirates_post_config_root"
              action="action_emirates_post_config"
              sequence="10"/>

    <!-- Emirates -->
    <record id="action_emirates_post_emirate" model="ir.actions.act_window">
        <field name="name">Emirates</field>
        <field name="res_model">emirates.post.emirate</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="menu_emirates_post_emirate"
              name="Emirates"
              parent="menu_emirates_post_config_root"
              action="action_emirates_post_emirate"
              sequence="20"/>
</odoo>